.form-container {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
  margin-bottom: 50px;
}

.App, html {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  width: 100%;
  min-height: 100vh;
}